<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      
      <mvc.actionExecuting>
        <processor type="Custom.Sitecore.Processor.CustomPipeline.EnsureLoggedInForPreview"
                   patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Request.ActionExecuting.EnsureLoggedInForPreview, Sitecore.Mvc']" />
				   
      </mvc.actionExecuting>
    
    </pipelines>
  </sitecore>
</configuration>
